<ion-view hide-nav-bar="true">

    <!--<ion-content>-->
        <ion-side-menus>

            <!-- Center content -->
            <ion-side-menu-content >

                <ion-header-bar class="bar bar-header bar-assertive">
                    <button menu-toggle="left" class="button icon ion-navicon"></button>
                    <h1 class="title">Events</h1>
                    <button class="button">Edit</button>
                </ion-header-bar>

                <ion-content>
                    <ion-scroll>

                    <!-- events list -->
                    <div class="list">

                    <a class="item item-thumbnail-left" ui-sref="{{CONFIG.state.event.info}}">
                    <img src="/img/event1.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                    </a>

                    </div>

                    </ion-scroll>
                </ion-content>


            </ion-side-menu-content>

            <!-- Left menu -->
            <ion-side-menu side="left">
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Menu</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item nav-clear menu-close ui-sref="{{CONFIG.state.contacts.list}}">Contacts</ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>

        </ion-side-menus>
    <!--</ion-content>-->
</ion-view>


