<ion-view>

    <!--  <div class="bar bar-header bar-assertive">
        <button class="button icon ion-navicon"></button>
        <h1 class="title">Events</h1>
        <button class="button">Edit</button>
    </div>  -->

    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content >

            <!-- head bar -->
            <div class="bar bar-header bar-assertive">
                <button ng-click="toggleLeft()" class="button icon ion-navicon"></button>
                <h1 class="title">Events</h1>
                <button class="button">Edit</button>
            </div>

            <ion-scroll>
                
            <!-- events list -->
            <div class="list">

                <a class="item item-thumbnail-left" href='#'>
                    <img src="/img/event1.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>

            </div>

            </ion-scroll>

        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            Voici le contenu de mon menu gauche
        </ion-side-menu>

        <!-- Right menu
        <ion-side-menu side="right">
            Voici le contenu de mon menu droite
        </ion-side-menu> -->
    </ion-side-menus>




</ion-view>


