<ion-view>
  <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">

        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="data.email">
        </label>

        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="data.password">
        </label>

        <label class="item">
            <button class="button button-block button-positive" ng-click="doLogin();">Log in</button>
            <button class="button button-block button-balanced" ng-click="doRegister();">Register</button>
        </label>
        <label class="item">
            <button class="button btn-auth button-block btn-facebook button-positive large" ng-click="doLogin('facebook');">
                Sign in with <b>Facebook</b>
            </button>
        </label>

          <label class="item">
              <button class="button button-assertive">
                  GoTo
              </button>
          </label>

        </div>
    </form>
  </ion-content>
</ion-view>
