<ion-view view-title="Intro" hide-back-button="true">
    
    <ion-nav-buttons side="left">
        <button class="button button-clear no-animation ng-hide" ng-click="startApp()" ng-show="!data.slideIndex">Skip</button>
        <button class="button button-clear no-animation ng-hide" ng-click="previous()" ng-show="data.slideIndex > 0">Previous</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear no-animation ng-hide" ng-click="next()" ng-show="data.slideIndex < (data.nbSlides-1)">Next</button>
        <button class="button button-clear no-animation ng-hide" ng-click="startApp()" ng-show="data.slideIndex === (data.nbSlides - 1)">Start</button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-slide-box on-slide-changed="onSlideChange($index)">
            <ion-slide>
                <h3>Thank you for choosing the Awesome App!</h3>
                <div id="logo">
                    <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                </div>
                <p>
                    We've worked super hard to make you happy.
                </p>
                <p>
                    But if you are angry, too bad.
                </p>
            </ion-slide>
            <ion-slide>
                <h3>Any questions?</h3>
                <p>
                    Nice because I wouldn't have answer anything anyway !
                </p>
            </ion-slide>
        </ion-slide-box>

        <!--<ion-checkbox ng-model="hideNextTime" ng-change="onHideNextTimeChange(hideNextTime)">Hide next time</ion-checkbox>-->
        <ion-checkbox ng-model="data.hideNextTime" >Hide next time</ion-checkbox>
    </ion-content>


</ion-view>