<ion-view view-title="Event Name">

    <!--For now auto navigation is bugged and back button will not show, just force back button-->
    <ion-nav-buttons side="left">
        <button class="button back-button button-clear header-item" ui-sref="{{CONFIG.state.home}}">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <br><br><br>
    <div class="list">

        <div class="item item-divider icon ion-wineglass">
            Drinks
        </div>

        <a class="item" href="#">
            Coca Cola Zero 1L
        </a>
        <a class="item" href="#">
            Rhum
        </a>
        <a class="item" href="#">
            Water
        </a>
        <div class="item item-divider icon ion-pizza">
            Food
        </div>
        <a class="item" href="#">
            Pizza
        </a>
        <a class="item" href="#">
            Chips bacon
        </a>
        <div class="item item-divider icon ion-more">
            Others
        </div>

        <a class="item" href="#">
            Gift
        </a>

    </div>
</ion-view>