<ion-view view-title="Retrieve my password">

    <ion-content class="padding">

        <p>
            If the email you provide is valid and belong to an user an email will be send and contain information on how to access account again.
        </p>

        <form name="credentialForm">

            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="My email" ng-model="data.email" required>
                </label>
            </div>

            <button class="button button-full button-positive" ng-click="doForm(credentialForm);">Reset my password</button>
        </form>

    </ion-content>

</ion-view>
