<ion-view view-title="Login" >

    <ion-content class="padding">
    <form name="loginForm" novalidate >
      <div class="list padding" >

          <!--Inset form-->
          <div class="list list-inset">

              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="email" placeholder="Email" name="email" ng-model="data.email" required>
              </label>

              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="password" placeholder="Password" name="password" ng-model="data.password" required>
              </label>
          </div>
            <!---->
          <div class="">
              <!--<button class="button button-block" type="submit">Submit</button>-->
              <button class="button button-block button-positive" ng-click="doLogin(loginForm);">Log in</button>
              <button class="button btn-auth button-block btn-facebook button-positive large" ng-click="doLogin(loginForm, 'facebook');">Sign in with <b>Facebook</b></button>
          </div>

      </div>

    </form>

      <div class="text-center">
          Or if you don't have an account <a ui-sref="{{CONFIG.state.register}}" class="positive">Sign up!</a>
      </div>
      <div class="text-center">
          <a ui-sref="{{CONFIG.state.forgotpassword}}" class="positive">I don't remember my credentials</a>
      </div>
      
  </ion-content>
</ion-view>
