<ion-view view-title="Login" class="title-center">
  <ion-content class="padding">
    <form>
      <div class="list">

          <!--Inset form-->
          <div class="list list-inset">
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Email" ng-model="data.email">
              </label>
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="password" placeholder="Password" ng-model="data.password">
              </label>
          </div>
            
          <div class="padding">
              <button class="button button-block button-positive" ng-click="doLogin();">Log in</button>
              <button class="button btn-auth button-block btn-facebook button-positive large" ng-click="doLogin('facebook');">Sign in with <b>Facebook</b></button>
          </div>

      </div>

    </form>

      <div class="text-center">
          Or if you don't have an account <a ui-sref="{{CONFIG.state.register}}" class="positive">Sign up!</a>
      </div>
      <div class="text-center">
          <a ui-sref="forgotpassword" class="positive">I don't remember my credentials</a>
      </div>
      
  </ion-content>
</ion-view>
