<!--http://codepen.io/mhartington/pen/sFyEC-->
<!--http://codepen.io/anon/pen/VYGQZX-->
<!--https://github.com/driftyco/ionic/issues/2997-->

<!--<ion-nav-view name="list-tab"></ion-nav-view>-->
<ion-view>

    <!--<ion-content class="padding">-->

        <ion-tabs class="tabs-positive tabs-icon-top slide-left-right-ios7">
            <ion-tab title="Contacts" icon="ion-person" ui-sref="{{CONFIG.state.contacts.list}}">
                <ion-nav-view name="list-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Groups" icon="ion-person-stalker" ui-sref="{{CONFIG.state.contacts.groups.list}}">
                <ion-nav-view name="groups-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>

    <!--</ion-content>-->
</ion-view>
