<ion-view view-title="List">

    <ion-header-bar align-title="center" class="bar-balanced">
        <div class="buttons">
            <button class="button" ng-click="doSomething()">Left Button</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons">
            <button class="button">Right Button</button>
        </div>
    </ion-header-bar>

    <!--<ion-nav-bar class="bar-positive">-->
    <!--</ion-nav-bar>-->
    
    <!--<div class="bar bar-header bar-light">-->
        <!--<h1 class="title">bar-light</h1>-->
    <!--</div>-->
    
    
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="contact in contacts" href="#/app/contacts/{{contact.id}}">
                {{contact.title}}
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
